{% include "components/head.njk" %}
{% include "components/nav.njk" %}

{% block content %}
    {{ content | safe }}
{% endblock %}

{% block postContent %}{% endblock %}

{% include "components/footer.njk" %}