{% include "components/head.njk" %}
{% include "components/nav.njk" %}

{% block content %}

    <section>
        <div class="bg-indigo-900 md:overflow-hidden">
            <div class="px-4 py-20 md:py-4">
                <div class="container md:mx-auto">
                    <div class="md:flex md:flex-wrap">
                        <div class="text-center md:text-left md:py-20">

                            <h2 class="text-3xl tracking-tight leading-10 font-extrabold text-indigo-300 sm:text-5xl sm:leading-none md:text-6xl">Explore their <span class="text-white underline">stories</span></h2>
                            <p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-md  sm:mx-auto md:mt-5 md:text-lg lg:mx-0">They came, they worked hard, they conquered and now they want to share their story with you.</p>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="container mx-auto">

            <div class="flex flex-wrap">

                {% for post in collections.posts %}

                    {{ post.title }}

                {% endfor %}

            </div>

        </div>

    </section>

{% endblock %}
{% include "components/footer.njk" %}