{% extends "layouts/simple.njk" %}

{% block postContent %}

    {% for interview in collections.interviews %}
        <a href="{{ interview.url }}">{{ interview.data.title }}</a>
    {% endfor %}

{% endblock %}