<head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="https://identity.netlify.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoderStory | {{ title or renderData.title or metadata.title }}</title>
    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <link href="../assets/css/main.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer></script>
    <script src="https://kit.fontawesome.com/d09f181782.js" crossorigin="anonymous"></script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://res.cloudinary.com/coderstory/image/upload/v1587318454/CODERSTORY_1.png">
    <link rel="icon" href="https://res.cloudinary.com/coderstory/image/upload/v1587318454/CODERSTORY_1.png">

    <!-- Facebook OG Image -->
    <meta property="og:title" content="CoderStory - Taking Digital Passion Around The World"/>
    <meta property="og:image" content="https://res.cloudinary.com/coderstory/image/upload/v1587318471/social.jpg"/>
    <meta property="og:image:height" content="600"/>
    <meta property="og:image:width" content="1200"/>

    <!-- Twitter Card Image -->
    <meta name="twitter:title" content="CoderStory - Taking Digital Passion Around The World">
    <meta property="twitter:image" content="https://res.cloudinary.com/coderstory/image/upload/v1587318471/social.jpg"/>
    <meta name="twitter:card" content="summary_large_image">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118575748-3"></script>
    <script>
        var host = window.location.hostname;

        if (host != "localhost") {
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-118575748-3');
        }
    </script>
</head>
<body class="">